/*h1{
    color : rgb(7, 7, 39);
    background-color : yellow;
}

body {
    background-color: greenyellow;

}
button {
    color : red;
    background-color: yellow;
}
.box{
    height : 100px;
    width : 50px;
    border:2px solid black;
    text-align: center;
    margin: 5px;
    background-color: aquamarine;

}*/

/*
.myClass {
    height : 100px;
    width : 300px;
    border:5px solid black;
}
    */

.light {
    background-color: white;
    color : rgb(0, 0, 0);
    transition: background-color 0.1s, color 0.1s;
}

.light:hover {
    transform: scale(1);
}

.dark {
    background-color: black;
    color: white;
    transition: background-color 0.1s, color 0.1s;
}


.dark:hover {
    transform: scale(1);
}